* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica;
}

.nav {
    background-color: rgb(55, 56, 76);
    height: 8vh;
}

.logo img {
    width: 8vh;
    display: inline-block;
    padding-left: 3vh;
}

.logo h1 {
    display: inline-block;
    font-size: 2.8vh;
    text-align: center;
    color: rgb(214, 209, 209);
}

.links {
    display: inline-block;
    margin-left: 75%;
    position: absolute;
    top: 2.5vh;
}

.links li {
    display: inline-block;
    margin-left: 5vh;
    font-size: 2.5vh;
    color: white;
    cursor: pointer;
}

.links li:hover {
    text-decoration: underline;
    color: rgb(220, 219, 218);
}

.slider img {
    width: 100%;
    height: 88vh;
}

.slidertxt {
    font-size: 3.8vh;
    position: absolute;
    top: 35%;
    left: 30%;
    color: white;
}

.slidertxt h1 {
    font-size: 10.2vh;
}

.effect {
    height: 88vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.546);
    position: absolute;
}

.about {
    height: 92vh;
    width: 100%;
    background-color: rgba(255, 218, 185, 0.684);
    padding-left: 15.5vh;
    display: inline-block;
    padding-top: 12.5vh;
}

.about h1 {
    font-size: 7.6vh;
}

.about p {
    font-size: 2.9vh;
    padding-top: 5vh;
    line-height: 1.5;
}

.imgs img {
    display: inline-block;
    width: 37vh;
    height: 28vh;
    margin-left: 2vh;

}

.imgs li {
    display: inline-block;
    list-style-type: none;
    padding-top: 6vh;
}

.menu {
    height: 180vh;
    width: 100%;
    background-color: rgb(55, 56, 76);
    padding-left: 15.5vh;
    display: inline-block;
    padding-top: 15.5vh;
    color: white;
    position: relative;
}

.menu h1 {
    font-size: 7.6vh;
}

.menu p {
    font-size: 2.9vh;
    padding-top: 5vh;
    line-height: 1.5;
}

.drinks {
    display: inline-block;
    position: absolute;
    top: 57vh;

}

.drinks p {
    text-align: center;
    font-size: 4vh;

}

.drinks img {
    display: inline-block;
    width: 71vh;
    height: 70.9vh;
}

.food img {
    display: inline-block;
    width: 71vh;
    height: 70.9vh;
}

.food {
    display: inline-block;
    margin-left: 85vh;
    position: absolute;
    top: 57vh;
}

.food p {
    text-align: center;
    font-size: 4vh;
}

.food h1 {
    text-align: center;
}

.drinks h1 {
    text-align: center;
}

.location {
    height: 113.5vh;
    width: 100%;
    background-color: rgba(255, 218, 185, 0.684);
    padding-left: 15.5vh;
    display: inline-block;
    padding-top: 15.5vh;
}

.location iframe {
    width: 80vh;
    height: 63vh;
}

.location h1 {
    font-size: 6.2vh;
    margin-bottom: 5.5vh;
}

.hours {
    display: inline-block;
    position: absolute;
    padding-left: 5vh;
}

.hours h2 {
    font-size: 4vh;
}

.hours p {
    font-size: 3vh;
    line-height: 1.6;
}

footer {
    text-align: center;
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 2.5vh;
    margin-top: 19vh;
}